.grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr); 
    width: 960px;
    height: 960px;  
    margin-bottom: 15px;
    background-color: white;
    border: 1px solid black;
}

.grid-container div {
    padding: auto;
    background-color: white;
    /* add transition effect */
    /* transition: background 0.2s ease;  */
}

.container {
    display: flex;
    flex-direction: row;
}